.detail-view {
  padding: 20px;
  padding-inline: 80px;
  min-height: 90vh;
  background-color: #f5f5f5;

  &__container {
    background-color: white;
    display: flex;
    gap: 15px;
  }

  &__title {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 26px;
    font-weight: bold;
  }

  &__price {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: 200;
  }

  &__free-ship {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 600;
    color: #00a650;
  }

  &__description {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 200;
    padding-right: 15px;
  }
}
